# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDEA files
/.idea

# Rozne podklady od plamienok
/podklady

# pracovne subory
plamienok.db.lock
settings.properties
data/dgn.json
data/lieky.json
plamienok.db
www/.browserslistrc
www/.eslintrc.js
www/package-lock.json